extends irc_bots

block irc_bots_content
  h1= config.application.name
  each infoBot in infoBots
    div.accordion-group
      div.accordion-heading
        a.accordion-toggle(data-toggle='collapse', data-target='#'+infoBot._id) #{infoBot.nickname}@#{infoBot.host}
      div.accordion-body.collapse(id=infoBot._id)
        div.accordion-inner
          table.table.table-striped
            tr
              td nickname
              td= infoBot.nickname
            tr
              td realname
              td= infoBot.realname
            tr
              td username
              td= infoBot.username
            tr
              td host
              td= infoBot.host
            tr
              td channel
              td= infoBot.channels.join(', ')
            tr
              td port
              td= infoBot.port
            tr
              td date
              td= infoBot.insert_date
