extends layout

block content
  div.row
    div.span2
      div.well.sidebar-nav
        ul.nav.nav-list
          li
            a(href='/irc_bots') Top
          li
            a(href='/irc_bots/create') Create
    div.span9
      block irc_bots_content

