extends irc_bots

block irc_bots_content
  h1= config.application.name
    form(action='/irc_bots/create', method='post')
      div.row
        div.span3
          h3 Server
          label host
          input.span3(type='text', name='host', placeholder='localhost')
          label port
          input.span3(type='text', name='port', placeholder='6667')
          label channel
          input.span3(type='text', name='channel', placeholder='#kiritsugu')
          label charset
          select.span3(name='charset', size='1')
            option(value='ISO-2022-JP', selected) ISO-2022-JP
            option(value='UTF8') UTF-8

        div.span3
          h3 Name
          label nickname
          input.span3(type='text', name='nickname', placeholder='kiritsugu')
          label username
          input.span3(type='text', name='username', placeholder='kiritsugu')
          label realname
          input.span3(type='text', name='realname', placeholder='Kiritsugu EMIYA')
      div.row
        div.span2.offset4
          input.btn.span2(type='submit', value='Create')
