doctype 5
html
  head
    title= config.application.name
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style
      body {
        padding-top: 60px;
      }
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/')= config.application.name
          div.nav-collapse
            ul.nav
              li
                a(href='/') Home
              li
                a(href='/') About
              li
                a(href='/irc_bots') IrcBots
              li
                a(href='/messages') Messages
              li
                a(href='/random_messages') RandomMessages
              li
                a(href='/segments') Segments
              li
                a(href='/') Help
    div.container
      block content

