extends layout

block content
  h1= config.application.name
  table.table.table-striped
    tr
      th from
      th message
      th insert_date
    each message in messages
      tr
        td= message.from + message.channel
        td= message.priv_msg.join('')
        td= message.insert_date

