extends layout

block content
  h1= config.application.name
  table.table.table-striped
    tr
      th message
      th update_date
    each randomMessage in randomMessages
      tr
        td= randomMessage.message
        td= randomMessage.update_date
