extends layout

block content
  h1= config.application.name
  table.table.table-striped
    tr
      th segment
      th next segment
      th update_date
    each segment in segments
      tr
        td= segment.segment
        td= segment.next_segment
        td= segment.update_date
